@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

body{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
*{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
}
.wrapper{
    display: flex;
    flex-direction: column;
    
    
}
@media screen and (max-width: 720px) {
    .wrapper{
       
    }
}
.box1{
    width: 100%;
      
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #F4F6F9;
}
.b1-tt{
    display: flex;
    flex-direction: column;
   
    margin: 40px 80px;}

    @media screen and (max-width: 720px){
        .b1-tt{
       align-items: center;
        }
    }
  
.logo-t{
   
    font-family: Product Sans;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.02em;
    
    color: #5282F0;
}
.b1-t1{
 
font-weight: bold;
font-size: 36px;
line-height: 48px;
display: flex;
align-items: flex-end;
letter-spacing: 0.03em;
color: #333333;
margin-bottom: 30px;
}
.b1-t2{
   
font-size: 18px;
line-height: 26px;
margin-bottom: 30px;
color: #4F4F4F;
}
.b1-store{
    width: 330px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.box2{
    position: relative;
    width: 100%;
height: 592px;
display: grid;
    grid-template-columns: 805px 635px;
}
@media screen and (max-width: 720px) {
    .box2{
        display: flex;
        flex-direction: column;
        height:900px;
       
    }
}
.b2-1{
    background: url(images/Ronaldo.png);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
@media screen and (max-width: 720px){
   .b2-1 {
       order:2;
       
}
}
.match{
   position: absolute;
width: 360px;
height: 218.06px;
left: 163px;
top: 105px;
display: grid;
grid-template-rows: 169px 49px;
background: #FFFFFF;
box-shadow: -22.0416px 23.8785px 48.9814px rgba(0, 0, 0, 0.5);
border-radius: 4px;
z-index: 2;
}
@media screen and (max-width: 720px){
.match{
  position: static;
}
}
.ars1{
display: flex;
flex-direction: row;
justify-content: space-between;
margin: 25px;
}
.b2-tt{
display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: flex-start;
}
.b2-t1{
 width: 99.71px;
height: 23.06px;
font-weight: bold;
font-size: 16.7833px;
line-height: 22px;
color: #4F4F4F;
}
.b2-t2{
 width: 76.62px;
height: 50.32px;
font-weight: 500;
font-size: 18px;
line-height: 24px;
color: #000000;
margin: 0;
}
.b2-t3{
 width: 123.85px;
height: 25.16px;
font-size: 16px;
line-height: 21px;
color: #000000;
}
.emblem{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}
.arsenal {
    width: 71px;
height: 83.87px;
right:65px;
position: absolute;
}
.chelsea{
    position: absolute;
    width: 83.97px;
height: 83.87px;
right: -5px;
}
.ars2{
 width: 360px;
height: 49.27px;
background: #EEEEEE;
border-radius: 0px 0px 4px 4px;
display: flex;
align-items: center;
justify-content: space-around;
}
.ars2-t1{
width: 250.85px;
height: 25.16px;
font-size: 18.8812px;
line-height: 25px;
color: #4F4F4F;
}
.check{
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
position: relative;
}
.circle {
position: absolute;
width: 20.99px;
height: 20.97px;
right:15px;
top: -4px;
background: white;
border-radius: 50%;
box-shadow: 0px 2.09791px 2.09791px rgba(0, 0, 0, 0.25);
}
.line{
width: 27.29px;
height: 12.58px;
background: #979797;
border-radius: 104.896px;
}
.football{
position: absolute;
width: 360px;
height: 218.06px;
left: 269px;
top: 292px;
border-radius: 4px;
}
@media screen and (max-width: 720px){
    .football{
      display: flex;
        background: url(images/Ronaldo.png);
        position: static;
    }
}
.b2-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 720px){
    .b2-2{
        order: 1;
    }
}
.b2-tt2{
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 720px){
    .b2-tt2{
        align-items: center;
    }
}

.b22-t1{
  
font-weight: bold;
font-size: 16px;
line-height: 21px;
color: #00ADEE;
}
.b22-t2{

font-weight:bold;
font-size:28px;
line-height:37px;
color: #333333;
}
@media screen and (max-width: 720px){
    .b22-t2{
        width: 320px;
    }
}
.b22-t3{
  
font-weight: normal;
font-size: 16px;
line-height: 23px;
color: #4F4F4F;
}
@media screen and (max-width: 720px){
    .b22-t3{
        width: 320px;
    }
}
.b22-t4{
   
font-weight: bold;
font-size: 16px;
line-height: 21px;
color: #00ADEE;
}
.box3{
    width: 100%;
   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
     background: url(images/img3.png);
}
@media screen and (max-width: 720px){
    .box3{
        flex-direction: column;
       justify-content: center;
       align-items: center;
    }
}
.b3-tt{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    align-items: center;
}
.b3-t1{
 
font-weight: bold;
font-size: 16px;
line-height: 21px;
color: #00ADEE;
}
.b3-t2{

font-weight: bold;
font-size: 28px;
line-height: 37px;
color: #333333;
}
.b3-t3{

font-size: 16px;
line-height: 23px;
color: #4F4F4F;
}
.b3-t4{

font-weight: bold;
font-size: 16px;
line-height: 21px;
color: #00ADEE;
}
@media screen and (max-width: 720px){
.img3a{
    max-width: 100%;
}
.b3-tt{
    margin: 0;
}
}
.box4{
    background: url(images/back1.png);
    height: 735px;
    padding: 80px;
}

.features{
 display: flex;
 justify-content: center;
    width: 100%;
height: 37px;
font-weight: bold;
font-size: 28px;
line-height: 37px;
color: #FFFFFF;
text-align: center;

}
.box4-bb{
    height: 735px;
 display: grid;
 grid-template-columns: repeat(3, 1fr); 
 grid-template-rows: repeat(3, 1fr);
 margin-top: 80px;
}
@media screen and (max-width: 720px){
    .box4{
        background: #FAFAFA;
        height: 1500px;
        padding: 0;
    }
    .features{

font-weight: bold;
font-size: 28px;
line-height: 37px;
color:#333333;
    }
  .box4-bb {
       display: flex;
       flex-direction: column;
      align-items: center;
   }  
}
.video{
    fill: white;
}

.b41-t{
    width: 311px;
height: 47px;
font-size: 16px;
line-height: 23px;
color: #FFFFFF;
}
.nofig{
    fill: white; 
}
.b42-t{
    width: 311px;
height: 93px;
font-size: 16px;
line-height: 23px;
color: #FFFFFF;
}
.hd{
    fill: white;
}
.b43-t{
    width: 311px;
height: 93px;
font-size: 16px;
line-height: 23px;
color: #FFFFFF;
}
.flag{
    fill: white;
}
.b44-t{
    width: 311px;
height: 93px;
font-size: 16px;
line-height: 23px;
color: #FFFFFF;
}
.style{
    fill: white;
}
.b45-t{
    width: 311px;
height: 116px;
font-size: 16px;
line-height: 23px;
color: #FFFFFF;
}
.poll{
    fill: white;
}
.b46-t{
    width: 311px;
height: 70px;
font-size: 16px;
line-height: 23px;
color: #FFFFFF;
}
.screen{
    fill: white;
}
.b47-t{
width: 311px;
height: 70px;
font-size: 16px;
line-height: 23px;
color: #FFFFFF;
}
.people{
    fill: white;
}
.b48-t{
    width: 311px;
height: 47px;
font-size: 16px;
line-height: 23px;
color: #FFFFFF;
}
.tune{
    fill: white;
}
.b49-t{
    width: 311px;
height: 70px;
font-size: 16px;
line-height: 23px;
color: #FFFFFF;
}
@media screen and (max-width: 720px){
    .video {
      fill: #00ADEE;
    }
    .nofig{
    fill: #00ADEE;
    }
    .hd{fill: #00ADEE;}
    .flag{fill: #00ADEE;}
    .style{fill: #00ADEE;}
    .poll{fill: #00ADEE;}
    .screen{fill: #00ADEE;}
    .people{fill: #00ADEE;}
    .tune{fill: #00ADEE;}
    /*  */
    .b41{text-align: center;}
    .b41-t{color: #4F4F4F;}
    .b42{text-align: center;}
    .b42-t{color: #4F4F4F;}
    .b43{text-align: center;}
    .b43-t{color: #4F4F4F;}
    .b44{text-align: center;}
    .b44-t{color: #4F4F4F;}
    .b45{text-align: center;}
    .b45-t{color: #4F4F4F;}
    .b46{text-align: center;}
    .b46-t{color: #4F4F4F;}
    .b47{text-align: center;}
    .b47-t{color: #4F4F4F;}
    .b48{text-align: center;}
    .b48-t{color: #4F4F4F;}
    .b49{text-align: center;}
    .b49-t{color: #4F4F4F;}
    
}
.box5{
    width: 100%;
height: 431px;
background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.b5-t1{
  
height: 37px;
font-weight: bold;
font-size: 28px;
line-height: 37px;
color: #333333;
}
.b5-bb{
    display: flex;
    flex-direction: row;

}
.b51{
    width: 309px;
height: 161px;
background: #FFFFFF;
border: 1px solid #828282;
box-sizing: border-box;
border-radius: 4px;
display: flex;
flex-direction: column;
align-items: center;

position: relative;
}
.b51-tt{ 
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    align-items: center;
    
}.b51-t1{
    width: 99px;
height: 20px;
font-weight: bold;
font-size: 16px;
line-height: 19px;
color: #333333;
text-align: center;
}
.b51-t2{
    width: 279px;
height: 74px;
font-size: 14px;
line-height: 18px;
color: #4F4F4F;
}
.img5{
    position: absolute;
    left: -35px;
    top: 50px;
}
.b52{
    width: 309px;
    height: 161px;
    background: #FFFFFF;
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
}
.b53{
    width: 309px;
    height: 161px;
    background: #FFFFFF;
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
}
.b54{
    width: 309px;
    height: 161px;
    background: #FFFFFF;
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
    position: relative; 
}
    @media screen and (max-width: 720px) {
        .b51{ display: none; }
        .b53{ display: none; }
        .b52{ display: none; }
    }

.img4{
    position: absolute;
    right: -35px;
    top: 50px;
}
@media screen and (max-width: 720px){
    .img4{

    }
}
.box6{
    width: 100%;
height: 278px;
background: #FAFAFA;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}
.b6-t1{
    width: 320px;
height: 37px;
font-weight: bold;
font-size: 28px;
line-height: 37px;
color: #333333;
}
.b6-bb{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
@media screen and (max-width: 720px){
    .b6-bb{
        flex-wrap: wrap;
        width: 360px;
    height: 409px;
    }
}
.b6-t1{
    width: 320px;
height: 37px;
font-weight: bold;
font-size: 28px;
line-height: 37px;
color: #333333;
margin-top: 20px;
}
.box7{
    display: grid;
   grid-template-columns: 1fr 1fr;
    align-items: center;
}
.b7-tt{
display: flex;
flex-direction: column;
 justify-content:center ;
align-items: flex-start;
}
.b7-t1{
 width: 554px;
height: 37px;
font-weight: bold;
font-size: 28px;
line-height: 37px;
color: #333333;
}
.b7-t2{

font-size: 16px;
line-height: 25px;
color: #4F4F4F;
}
@media screen and (max-width: 720px){
    .box7{
        display: flex;
        flex-direction: column;
      
    }
    .img6{
        order: 2;
        max-width: 100%;
    }
    .b7-tt{
        order: 1;
  align-items: center;
  height: 450px;
    }
    .b7-t2{
        width: 309.03px;
    }
    .b7-t1{
        width: 320px;
    }
}
.box8{
    width: 100%;
height: 127px;
background: #00ADEE;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
}
.b81{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.b81-t1{
    width: 71px;
    height: 30px;
    font-family: Product Sans;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.02em;
    
    color: #FFFFFF;
}
.b82{
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.b82-t1{
    width: 74px;
height: 22px;
font-weight: bold;
font-size: 16px;
line-height: 21px;
color: #FFFFFF;
}
.b82-t2{
    width: 57px;
height: 22px;
font-weight: bold;
font-size: 16px;
line-height: 21px;
color: #FFFFFF;
}
.b82-t3{
    width: 81px;
height: 22px;
font-weight: bold;
font-size: 16px;
line-height: 21px;
color: #FFFFFF;
}
.b82-t4{
    width: 53px;
height: 22px;
font-weight: bold;
font-size: 16px;
line-height: 21px;
color: #FFFFFF;
}
.b83{
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 720px)  {
    .box1{
      
      justify-content: center;
    }
    .img1{
        display: none;
    }
    .box8{
        flex-direction: column;
        align-items: center;
        height: 210px;
    }
    .b81{
        order: 1;
    }
    .b82{
        order: 3;
        justify-content: space-around;
    }
    .b83{
        order: 2;
    }
}

